.homeLoginCart{
    height: 90px;
    /* flex: 0.5; */
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    color : #fbfbfb
    /* border: 2px solid blueviolet; */
}

.homeLoginCart:hover{
    transform: scale(102%);
    transition: all cubic-bezier(0.23, 1, 0.320, 1);
}

.homeLoginCart > p{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
}

.homeLoginCart:nth-child(1){
    background-color: #486fae;
}

.homeLoginCart:nth-child(2){
    background-color: #6d7973;
}
.homeLoginCart:nth-child(3){
    background-color: #fdb129;
}
.homeLoginCart:nth-child(4){
    background-color: #f4511e;
}

.homeLoginCart > svg {
    height: 50px;
    width: 50px;
    fill : #fbfbfb
}